In [82]:
endpoint_url = "http://localhost:7200/repositories/DIT930/statements"

# Student

In [83]:
import pandas as pd
import requests

df = pd.read_csv("./data/students.csv")
df = df[df["Student name"].str.startswith("Student ")]

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
for _, row in df.iterrows():
    # student_uri     = f":student/{row['Student id']}"
    prog_iri= f"<http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/{row['Programme']}>"
    subj = f":{row['Student id']}"
    subj = subj.replace(" ", "_")
    triples.append(f"{subj} rdf:type       :Student ;")
    triples.append(f"        :name         \"{row['Student name']}\" ;")
    triples.append(f"        :personId         \"{str(row['Student id'])}\" ;")
    triples.append(f"        :StudentInProgramme   {prog_iri} ;")
    triples.append(f"        :yearJoined  \"{int(row['Year'])}\"^^xsd:integer ;")
    graduated = str(row['Graduated']).lower()
    triples.append(f"        :graduated    \"{graduated}\"^^xsd:boolean .")
    triples.append("")

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"

sparql = PREFIXES + body


with open("insert_students.rq", "w") as f:
    f.write(sparql)
print("Wrote insert_students.rq")

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}

resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Successfully inserted all students")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

# test previuw
print(sparql[:500])

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19970308-0000 rdf:type       :Student ;
          :name         "Student 1" ;
          :personId         "19970308-0000" ;
          :StudentInProgramme   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/10054> ;
          :yearJoined  "2017"^^xsd:integer ;
          :g

In [84]:
import pandas as pd
import requests

df = pd.read_csv("./data/students.csv")
df = df[df["Student name"].str.startswith("TA ")]

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
for _, row in df.iterrows():
    prog_iri= f"<http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/{row['Programme']}>"
    subj = f":{row['Student id']}"
    subj = subj.replace(" ", "_")
    triples.append(f"{subj} ")
    triples.append(f"        :StudentInProgramme   {prog_iri} ;")
    triples.append(f"        :yearJoined  \"{int(row['Year'])}\"^^xsd:integer ;")
    graduated = str(row['Graduated']).lower()
    triples.append(f"        :graduated    \"{graduated}\"^^xsd:boolean .")
    triples.append("")

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"

sparql = PREFIXES + body


with open("insert_students.rq", "w") as f:
    f.write(sparql)
print("Wrote insert_students.rq")

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}

resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Successfully inserted all students")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

# test previuw
print(sparql[:500])

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19781125-0031
          :StudentInProgramme   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/10052> ;
          :yearJoined  "2005"^^xsd:integer ;
          :graduated    "true"^^xsd:boolean .

  :19750906-0032
          :StudentInProgramme   <http://www.semanticwe

# Teachers

In [85]:

df = pd.read_csv("./data/Senior_Teachers.csv")

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

"""

triples = []
for _, row in df.iterrows():
    # student_uri     = f":SeniorTeacher/{row['Teacher id']}"
    division_iri= f"<http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/{row['Division name']}>"
    subj = f":{row['Teacher id']}"
    subj = subj.replace(" ", "_")
    triples.append(f"{subj} rdf:type       :SeniorTeacher ;")
    triples.append(f"        :name         \"{row['Teacher name']}\" ;")
    triples.append(f"        :personId         \"{str(row['Teacher id'])}\" ;")
    triples.append(f"        :TeacherInDivision   {division_iri} .")
    triples.append("")

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"

sparql = PREFIXES + body


with open("insert_students.rq", "w") as f:
    f.write(sparql)
print("Wrote insert_students.rq")

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}

resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Successfully inserted all students")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:500])

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

INSERT DATA {
  :19630126-0001 rdf:type       :SeniorTeacher ;
          :name         "Teacher 1" ;
          :personId         "19630126-0001" ;
          :TeacherInDivision   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D4-3> .

  :19600814-0002 rdf:type       :SeniorTeacher ;
          :name         "Teacher 2" ;

In [86]:

df = pd.read_csv("./data/Teaching_Assistants.csv")

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

"""

triples = []
for _, row in df.iterrows():
    division_iri= f"<http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/{row['Division name']}>"
    subj = f":{row['Teacher id']}"
    subj = subj.replace(" ", "_")
    triples.append(f"{subj} rdf:type       :TeachingAssistant ;")
    triples.append(f"        :name         \"{row['Teacher name']}\" ;")
    triples.append(f"        :personId         \"{str(row['Teacher id'])}\" ;")
    triples.append(f"        :TeacherInDivision   {division_iri} .")
    triples.append("")

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"

sparql = PREFIXES + body


with open("insert_ta.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}

resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Successfully inserted all students")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:500])

Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

INSERT DATA {
  :19781125-0031 rdf:type       :TeachingAssistant ;
          :name         "TA 31" ;
          :personId         "19781125-0031" ;
          :TeacherInDivision   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D6-0> .

  :19750906-0032 rdf:type       :TeachingAssistant ;
          :name         "TA 32" ;

# Department

In [87]:
import glob
import pandas as pd
import requests

csv_files = glob.glob("./data/*.csv")

# get all unique dept names
dept_vals = set()
for path in csv_files:
    df = pd.read_csv(path, dtype=str)
    for col in ("Department name", "Department"):
        if col in df.columns:
            dept_vals.update(df[col].dropna().unique())

print(f"Found {len(dept_vals)} unique departments:", dept_vals)


PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

"""

triples = []
for dept in sorted(dept_vals):

    frag = dept.replace(" ", "_")
    subj = f"{frag}"

    triples.append(f":{subj} rdf:type           :Department ;")
    triples.append(f"    :departmentId    \"{dept}\"^^xsd:string .")
    triples.append("")

body = "INSERT DATA {\n" + "\n".join("  " + line for line in triples) + "\n}"

sparql = PREFIXES + body


with open("insert_departments.rq", "w") as f:
    f.write(sparql)
print("Wrote insert_departments.rq")


endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Departments inserted successfully")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

Found 8 unique departments: {'D5', 'D2', 'D1', 'D7', 'D4', 'D6', 'D3', 'D8'}
Wrote insert_departments.rq
Departments inserted successfully

# Division

In [88]:
import glob
import pandas as pd
import requests

csv_files = glob.glob("./data/*.csv")

div_codes = set()
for path in csv_files:
    df = pd.read_csv(path, dtype=str)
    if "Division name" in df.columns:
        div_codes.update(df["Division name"].dropna().unique())

print(f"Found {len(div_codes)} unique divisions:", div_codes)


PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

"""

triples = []
for code in sorted(div_codes):
    dept_id, div_id = code.split("-", 1)
    frag = code
    subj = f":{frag}"
    dept_uri = f":{dept_id}"

    triples.append(f"{subj} rdf:type                :Division ;")
    triples.append(f"    :divisionId            \"{code}\" ;")
    triples.append(f"    :DivisionInDepartment  {dept_uri} .")
    triples.append("")

body = "INSERT DATA {\n" + "\n".join("  " + line for line in triples) + "\n}"
sparql = PREFIXES + body

with open("insert_divisions.rq", "w") as f:
    f.write(sparql)
print("Wrote insert_divisions.rq")

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)
if resp.ok:
    print("Divisions inserted successfully")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:300])

Found 48 unique divisions: {'D1-2', 'D5-3', 'D6-5', 'D4-2', 'D3-3', 'D2-3', 'D7-5', 'D4-3', 'D2-1', 'D8-5', 'D5-4', 'D7-0', 'D4-0', 'D1-4', 'D8-3', 'D1-1', 'D2-4', 'D6-4', 'D1-3', 'D4-1', 'D1-5', 'D6-2', 'D3-5', 'D2-0', 'D8-0', 'D6-1', 'D8-1', 'D4-5', 'D7-4', 'D2-2', 'D8-4', 'D5-2', 'D4-4', 'D7-2', 'D3-1', 'D3-4', 'D7-3', 'D6-3', 'D7-1', 'D3-2', 'D2-5', 'D6-0', 'D3-0', 'D5-5', 'D5-0', 'D8-2', 'D1-0', 'D5-1'}
Wrote insert_divisions.rq
Divisions inserted successfully
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

INSERT DATA {
  :D1-0 rdf:type                :Division ;
      :divisionId            "D1-0" ;
      :Divisi

# Programme

In [89]:
import pandas as pd
import requests
df = pd.read_csv("./data/Programmes.csv")

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"

for _, row in df.iterrows():
    subj = f":{row['Programme code']}".replace(" ", "_")

    triples.append(f"{subj} rdf:type                :Programme ;")

    # attr
    triples.append(f"        :programmeName          \"{row['Programme name']}\" ;")
    triples.append(f"        :programmeCode          \"{int(row['Programme code'])}\"^^xsd:integer ;")

    # relations
    triples.append(f"        :ProgrammeInDepartment  <{base_uri}{row['Department name']}> ;")
    triples.append(f"        :DirectorOfProgramme     <{base_uri}{row['Director']}> .")
    triples.append("")


body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

# Print a preview of the SPARQL
print(sparql[:500])

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :10001 rdf:type                :Programme ;
          :programmeName          "P-01" ;
          :programmeCode          "10001"^^xsd:integer ;
          :ProgrammeInDepartment  <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D1> ;
          :DirectorOfProgramme     <htt

# Programme course

In [99]:
import pandas as pd
import requests
df = pd.read_csv("./data/Programme_Courses.csv")

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"
test = 1
for _, row in df.iterrows():
    p_code = f"{row['Programme code']}".replace(" ", "_")
    c_code = f"{row['Course code']}".replace(" ", "_")
    sy_code = f"{row['Study Year']}".replace(" ", "_")
    academic_year = f"{row['Academic Year']}".replace(" ", "_")
    subj = f":{p_code}_{c_code}_{academic_year}_{sy_code}"
    
    # subject
    triples.append(f"{subj} rdf:type                :ProgrammeCourse ;")
    
    # Attributes
    triples.append(f"        :academicYear          \"{row['Academic Year']}\" ;")
    triples.append(f"        :courseType          \"{row['Course Type']}\" ;")
    triples.append(f"        :studyYear          \"{int(row['Study Year'])}\"^^xsd:integer ;")
    
    # "Relations"
    triples.append(f"        :ProgrammeInProgrammeCourse  <{base_uri}{row['Programme code']}> ;")
    triples.append(f"        :CourseInProgrammeCourse     <{base_uri}{row['Course code']}> .")
    triples.append("")  # blank line
    test += 1

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}


resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)


print(sparql[:500])
print(test)

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :10001_1204_2013-2014_1.0 rdf:type                :ProgrammeCourse ;
          :academicYear          "2013-2014" ;
          :courseType          "compulsory" ;
          :studyYear          "1"^^xsd:integer ;
          :ProgrammeInProgrammeCourse  <http://www.semanticweb.org/user/ontologies/
5531

# Course

In [100]:
import pandas as pd
import requests
df = pd.read_csv("./data/Courses.csv")

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"

for _, row in df.iterrows():

    c_code = f"{row['Course code']}".replace(" ", "_")
    subj = f":{c_code}"
    object_uri = f"{p_code}_{c_code}_{academic_year}"

    # subject
    triples.append(f"{subj} rdf:type                :Course ;")
    
    # Attributes
    triples.append(f"        :courseCode          \"{int(row['Course code'])}\"^^xsd:integer ;")
    triples.append(f"        :courseName          \"{row['Course name']}\" ;")
    triples.append(f"        :credits          \"{row['Credits']}\"^^xsd:double ;")
    triples.append(f"        :level          \"{row['Level']}\" ;")
    
    # "Relations"
    triples.append(f"        :CourseInDivision     <{base_uri}{row['Division name']}> ;")
    triples.append(f"        :CourseOwnedByProgramme     <{base_uri}{row['Owned By']}> .")
    triples.append("")  # blank line


body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)


print(sparql[:1500])

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :1001 rdf:type                :Course ;
          :courseCode          "1001"^^xsd:integer ;
          :courseName          "C-1" ;
          :credits          "7.5"^^xsd:double ;
          :level          "First Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D4-5> ;
          :CourseOwnedByProgramme     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/P-32> .

  :1002 rdf:type                :Course ;
          :courseCode          "1002"^^xsd:integer ;
          :courseName          "C-2" ;
          :credits          "7.5"^^xsd:double ;
          :level          "First Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D6-5> ;
          :CourseOwnedByProgramme     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/P-51> .

  :1003 rdf:type                :Course ;
          :courseCode          "1003"^^xsd:integer ;
          :courseName          "C-3" ;
          :credits          "7.5"^^xsd:double ;
          :level          "Second Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D5-3> ;
          :CourseOwnedByProgramme     <http://www.

# Course Instance

In [92]:
import pandas as pd
df_instances  = pd.read_csv("./data/Course_Instances.csv")
df_plannings  = pd.read_csv("./data/Course_plannings.csv")

merged_df = pd.merge(
    df_instances,
    df_plannings,
    how="inner",
    left_on="Instance_id",
    right_on="Course"
)


merged_df = merged_df.drop(columns="Course")


merged_df.tail()

,Course code,Study period,Academic year,Instance_id,Examiner,Planned number of Students,Senior Hours,Assistant Hours
5525,1300,3.0,2021-2022,I-5526,19690917-0022,40,260,300
5526,1300,4.0,2022-2023,I-5527,19680712-0028,20,280,200
5527,1300,1.0,2022-2023,I-5528,19600905-0003,50,260,360
5528,1300,1.0,2023-2024,I-5529,19640414-0013,40,240,200
5529,1300,3.0,2023-2024,I-5530,19611219-0014,50,280,200

In [93]:
import pandas as pd
import requests
df = merged_df

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"

for _, row in df.iterrows():
    c_code = f"{row['Course code']}".replace(" ", "_")
    i_code = f"{row['Instance_id']}".replace(" ", "_")
    subj = f":{c_code}_{i_code}"
    object_uri = f"{p_code}_{c_code}_{academic_year}"

    # subject
    triples.append(f"{subj} rdf:type                :CourseInstance ;")
    
    # Attributes
    triples.append(f"        :assistantHours          \"{row['Assistant Hours']}\"^^xsd:double ;")
    triples.append(f"        :academicYear          \"{row['Academic year']}\" ;")
    triples.append(f"        :instanceId          \"{row['Instance_id']}\" ;")
    triples.append(f"        :seniorHours          \"{row['Senior Hours']}\"^^xsd:double ;")
    triples.append(f"        :planningNumStudent          \"{int(row['Planned number of Students'])}\"^^xsd:integer ;")
    triples.append(f"        :studyYear          \"{int(row['Study period'])}\"^^xsd:integer ;")

    # "Relations"
    triples.append(f"        :CourseInCourseInstance     <{base_uri}{row['Course code']}> .")
    triples.append(f"        :ExaminerOfCourseInstance     <{base_uri}{row['Examiner']}> .")
    triples.append("")  # blank line


body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)


endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:500])

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :1204_I-1 rdf:type                :CourseInstance ;
          :assistantHours          "300"^^xsd:double ;
          :academicYear          "2013-2014" ;
          :instanceId          "I-1" ;
          :seniorHours          "280"^^xsd:double ;
          :planningNumStudent          "50"^^xsd:

# Registration

In [94]:
import pandas as pd
df           = pd.read_csv("./data/Registrations.csv")
df_instances = pd.read_csv("./data/Course_Instances.csv")


merged = df.merge(
    df_instances[['Instance_id', 'Course code']],
    left_on='Course Instance',
    right_on='Instance_id',
    how='left'
)

merged = merged.drop(columns=['Instance_id']) # dup
print(merged.head())

  Course Instance     Student id     Status  Grade  Course code
0          I-1494  19860309-0002  completed    3.0         1127
1          I-3997  19860309-0002  completed    4.0         1122
2           I-658  19860309-0002  completed    3.0         1263
3          I-1499  19860309-0002  completed    4.0         1040
4          I-1496  19860309-0002  completed    4.0         1271

In [95]:
import pandas as pd
import requests
df = merged

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"

for _, row in df.iterrows():
    i_code = f"{row['Course Instance']}".replace(" ", "_")
    s_code = f"{row['Student id']}".replace(" ", "_")
    subj = f":{i_code}_{s_code}"

    c_code = f"{row['Course code']}".replace(" ", "_")
    course_instance_object = f"{c_code}_{i_code}"


    # subject
    triples.append(f"{subj} rdf:type                :Registration ;")

    # Attributes
    triples.append(f"        :status          \"{row['Status']}\" ;")
    triples.append(f"        :grade          \"{row['Grade']}\"^^xsd:integer ;")

    # "Relations"
    triples.append(f"        :RegistrationHasCourse     <{base_uri}{course_instance_object}> ;")
    triples.append(f"        :RegistrationHasStudent     <{base_uri}{row['Student id']}> .")
    triples.append("")  # blank line


body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:1000])

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :I-1494_19860309-0002 rdf:type                :Registration ;
          :status          "completed" ;
          :grade          "3.0"^^xsd:integer ;
          :RegistrationHasCourse     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1127_I-1494> ;
          :RegistrationHasStudent     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19860309-0002> .

  :I-3997_19860309-0002 rdf:type                :Registration ;
          :status          "completed" ;
          :grade          "4.0"^^xsd:integer ;
          :RegistrationHasCourse     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1122_I-3997> ;
          :RegistrationHasStudent     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19860309

# TeachHoursInCourseInstance

In [96]:
import pandas as pd
import numpy as np

df           = pd.read_csv("./data/Course_plannings.csv")
df_instances = pd.read_csv("./data/Reported_Hours.csv")

# Merge files
merged = df.merge(
    df_instances[['Course code', 'Teacher Id', 'Hours']],
    left_on='Course',
    right_on='Course code',
    how='left'
)

merged = merged.drop(columns=['Course code']) # dup

df = merged
senior_df = pd.read_csv("./data/Senior_Teachers.csv")  # has column: Teacher

seniors = set(senior_df["Teacher name"])

df["Assigned Hours"] = np.where(
    df["Teacher Id"].isin(seniors),       # if the Teacher is a seniorâ€¦
    df["Senior Hours"],                # if true take this
    df["Assistant Hours"]              # else
)

df = df.drop(columns=["Senior Hours", "Assistant Hours", "Planned number of Students"])

df_instances  = pd.read_csv("./data/Course_Instances.csv")
df = df.merge(
    df_instances[['Course code', 'Instance_id']],
    left_on='Course',
    right_on='Instance_id',
    how='left'
)
df = df.drop(columns=["Instance_id"])

df.head()

  Course     Teacher Id  Hours  Assigned Hours  Course code
0    I-1  19620522-0023  227.0             300         1204
1    I-1  19790708-0041  115.0             300         1204
2    I-1  19930221-0139  157.0             300         1204
3    I-2  19690408-0009  281.0             240         1082
4    I-2  19750220-0037  115.0             240         1082

In [97]:
import pandas as pd
import requests

PREFIXES = """PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
"""

triples = []
base_uri = "http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/"

for _, row in df.iterrows():
    tid_code = f"{row['Teacher Id']}".replace(" ", "_")
    ci_code = f"{row['Course']}".replace(" ", "_")
    subj = f":{tid_code}_{ci_code}"

    c_code = f"{row['Course code']}".replace(" ", "_")
    course_instance_object = f"{c_code}_{ci_code}"


    # subject
    triples.append(f"{subj} rdf:type                :TeacherHoursInCourseInstance ;")

    # Attributes
    triples.append(f"        :assignedHours          \"{row['Assigned Hours']}\"^^xsd:double ;")
    triples.append(f"        :reportedHours          \"{row['Hours']}\"^^xsd:double ;")

    # "Relations"
    triples.append(f"        :TeacherHours     <{base_uri}{row['Teacher Id']}> ;")
    triples.append(f"        :CourseInstanceHours     <{base_uri}{course_instance_object}> .")
    triples.append("")  # blank line

body = "INSERT DATA {\n  " + "\n  ".join(triples) + "\n}"
sparql = PREFIXES + body

with open("insert_programme.rq", "w") as f:
    f.write(sparql)

endpoint = endpoint_url
headers  = {"Content-Type": "application/sparql-update"}
resp = requests.post(endpoint, data=sparql.encode("utf-8"), headers=headers)

if resp.ok:
    print("Successfully inserted all data")
else:
    print("SPARQL update failed:", resp.status_code, resp.text)

print(sparql[:1000])

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19620522-0023_I-1 rdf:type                :TeacherHoursInCourseInstance ;
          :assignedHours          "300"^^xsd:double ;
          :reportedHours          "227.0"^^xsd:double ;
          :TeacherHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19620522-0023> ;
          :CourseInstanceHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1204_I-1> .

  :19790708-0041_I-1 rdf:type                :TeacherHoursInCourseInstance ;
          :assignedHours          "300"^^xsd:double ;
          :reportedHours          "115.0"^^xsd:double ;
          :TeacherHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19790708-0041> ;
          :CourseInstanceHours     <http://www.semanticweb.org/user/o

# TODO

- ProgrammeCourse (Done) (problem, our subject was not unique, added study year)
- Course (Switch courseInCourseInstance)
- CourseInstance (study period? missing)
- Registration (Done)
- TeacherHourseInCourseInstance