# Assignment 3
## Group 26
Brian Nguyen and Kristoffer Reimertz

In [ ]:
#endpoint_url = "http://localhost:7200/repositories/DIT930/statements"

# Student

In [ ]:
import pandas as pd
import requests

df = pd.read_csv("./data/students.csv")
df = df[df["Student name"].str.startswith("Student ")]

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19970308-0000 rdf:type       :Student ;
          :name         "Student 1" ;
          :personId         "19970308-0000" ;
          :StudentInProgramme   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/10054> ;
          :yearJoined  "2017"^^xsd:integer ;
          :g

In [ ]:
import pandas as pd
import requests

df = pd.read_csv("./data/students.csv")
df = df[df["Student name"].str.startswith("TA ")]

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19781125-0031
          :StudentInProgramme   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/10052> ;
          :yearJoined  "2005"^^xsd:integer ;
          :graduated    "true"^^xsd:boolean .

  :19750906-0032
          :StudentInProgramme   <http://www.semanticwe

# Teachers

In [ ]:

df = pd.read_csv("./data/Senior_Teachers.csv")

Wrote insert_students.rq
Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

INSERT DATA {
  :19630126-0001 rdf:type       :SeniorTeacher ;
          :name         "Teacher 1" ;
          :personId         "19630126-0001" ;
          :TeacherInDivision   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D4-3> .

  :19600814-0002 rdf:type       :SeniorTeacher ;
          :name         "Teacher 2" ;

In [ ]:

df = pd.read_csv("./data/Teaching_Assistants.csv")

Successfully inserted all students
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

INSERT DATA {
  :19781125-0031 rdf:type       :TeachingAssistant ;
          :name         "TA 31" ;
          :personId         "19781125-0031" ;
          :TeacherInDivision   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D6-0> .

  :19750906-0032 rdf:type       :TeachingAssistant ;
          :name         "TA 32" ;

# Department

In [1]:
import glob
import pandas as pd
import requests

csv_files = glob.glob("./data/*.csv")

# get all unique dept names
dept_vals = set()
for path in csv_files:
    df = pd.read_csv(path, dtype=str)
    for col in ("Department name", "Department"):
        if col in df.columns:
            dept_vals.update(df[col].dropna().unique())

print(f"Found {len(dept_vals)} unique departments:", dept_vals)

dept_vals

Found 8 unique departments: {'D5', 'D2', 'D3', 'D1', 'D6', 'D7', 'D8', 'D4'}

{'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8'}

# Division

In [5]:
import glob
import pandas as pd

csv_files = glob.glob("./data/*.csv")

div_codes = set()
for path in csv_files:
    df = pd.read_csv(path, dtype=str)
    if "Division name" in df.columns:
        div_codes.update(df["Division name"].dropna().unique())

records = []
for code in sorted(div_codes):
    dept_id, _ = code.split("-", 1)
    records.append({
        "division_id": code,
        "department": dept_id
    })
div_df = pd.DataFrame(records)
div_df.to_csv("./output/division.csv", index=False)

# Programme

In [ ]:
import pandas as pd
import requests
df = pd.read_csv("./data/Programmes.csv")

for _, row in df.iterrows():
    subj = f":{row['Programme code']}".replace(" ", "_")

    triples.append(f"{subj} rdf:type                :Programme ;")

    # attr
    triples.append(f"        :programmeName          \"{row['Programme name']}\" ;")
    triples.append(f"        :programmeCode          \"{int(row['Programme code'])}\"^^xsd:integer ;")

    # relations
    triples.append(f"        :ProgrammeInDepartment  <{base_uri}{row['Department name']}> ;")
    triples.append(f"        :DirectorOfProgramme     <{base_uri}{row['Director']}> .")
    triples.append("")

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :10001 rdf:type                :Programme ;
          :programmeName          "P-01" ;
          :programmeCode          "10001"^^xsd:integer ;
          :ProgrammeInDepartment  <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D1> ;
          :DirectorOfProgramme     <htt

# Programme course

In [ ]:
import pandas as pd
import requests
df = pd.read_csv("./data/Programme_Courses.csv")


triples = []
test = 1
for _, row in df.iterrows():
    p_code = f"{row['Programme code']}".replace(" ", "_")
    c_code = f"{row['Course code']}".replace(" ", "_")
    sy_code = f"{row['Study Year']}".replace(" ", "_")
    academic_year = f"{row['Academic Year']}".replace(" ", "_")
    subj = f":{p_code}_{c_code}_{academic_year}_{sy_code}"
    
    # subject
    triples.append(f"{subj} rdf:type                :ProgrammeCourse ;")
    
    # Attributes
    triples.append(f"        :academicYear          \"{row['Academic Year']}\" ;")
    triples.append(f"        :courseType          \"{row['Course Type']}\" ;")
    triples.append(f"        :studyYear          \"{int(row['Study Year'])}\"^^xsd:integer ;")
    
    # "Relations"
    triples.append(f"        :ProgrammeInProgrammeCourse  <{base_uri}{row['Programme code']}> ;")
    triples.append(f"        :CourseInProgrammeCourse     <{base_uri}{row['Course code']}> .")
    triples.append("")  # blank line

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :10001_1204_2013-2014_1.0 rdf:type                :ProgrammeCourse ;
          :academicYear          "2013-2014" ;
          :courseType          "compulsory" ;
          :studyYear          "1"^^xsd:integer ;
          :ProgrammeInProgrammeCourse  <http://www.semanticweb.org/user/ontologies/
5531

# Course

In [ ]:
import pandas as pd
import requests
df = pd.read_csv("./data/Courses.csv")


triples = []

for _, row in df.iterrows():

    c_code = f"{row['Course code']}".replace(" ", "_")
    subj = f":{c_code}"
    object_uri = f"{p_code}_{c_code}_{academic_year}"

    # subject
    triples.append(f"{subj} rdf:type                :Course ;")
    
    # Attributes
    triples.append(f"        :courseCode          \"{int(row['Course code'])}\"^^xsd:integer ;")
    triples.append(f"        :courseName          \"{row['Course name']}\" ;")
    triples.append(f"        :credits          \"{row['Credits']}\"^^xsd:double ;")
    triples.append(f"        :level          \"{row['Level']}\" ;")
    
    # "Relations"
    triples.append(f"        :CourseInDivision     <{base_uri}{row['Division name']}> ;")
    triples.append(f"        :CourseOwnedByProgramme     <{base_uri}{row['Owned By']}> .")
    triples.append("")  # blank line

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :1001 rdf:type                :Course ;
          :courseCode          "1001"^^xsd:integer ;
          :courseName          "C-1" ;
          :credits          "7.5"^^xsd:double ;
          :level          "First Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D4-5> ;
          :CourseOwnedByProgramme     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/P-32> .

  :1002 rdf:type                :Course ;
          :courseCode          "1002"^^xsd:integer ;
          :courseName          "C-2" ;
          :credits          "7.5"^^xsd:double ;
          :level          "First Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D6-5> ;
          :CourseOwnedByProgramme     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/P-51> .

  :1003 rdf:type                :Course ;
          :courseCode          "1003"^^xsd:integer ;
          :courseName          "C-3" ;
          :credits          "7.5"^^xsd:double ;
          :level          "Second Cycle" ;
          :CourseInDivision     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/D5-3> ;
          :CourseOwnedByProgramme     <http://www.

# Course Instance

In [6]:
import pandas as pd
df_instances  = pd.read_csv("./data/Course_Instances.csv")
df_plannings  = pd.read_csv("./data/Course_plannings.csv")

merged_df = pd.merge(
    df_instances,
    df_plannings,
    how="inner",
    left_on="Instance_id",
    right_on="Course"
)


merged_df = merged_df.drop(columns="Course")


merged_df.tail()
merged_df.to_csv("./output/course_instance.csv", index=False)

In [ ]:
import pandas as pd
import requests
df = merged_df


triples = []
for _, row in df.iterrows():
    c_code = f"{row['Course code']}".replace(" ", "_")
    i_code = f"{row['Instance_id']}".replace(" ", "_")
    subj = f":{c_code}_{i_code}"
    object_uri = f"{p_code}_{c_code}_{academic_year}"

    # subject
    triples.append(f"{subj} rdf:type                :CourseInstance ;")
    
    # Attributes
    triples.append(f"        :assistantHours          \"{row['Assistant Hours']}\"^^xsd:double ;")
    triples.append(f"        :academicYear          \"{row['Academic year']}\" ;")
    triples.append(f"        :instanceId          \"{row['Instance_id']}\" ;")
    triples.append(f"        :seniorHours          \"{row['Senior Hours']}\"^^xsd:double ;")
    triples.append(f"        :planningNumStudent          \"{int(row['Planned number of Students'])}\"^^xsd:integer ;")
    triples.append(f"        :studyYear          \"{int(row['Study period'])}\"^^xsd:integer ;")

    # "Relations"
    triples.append(f"        :CourseInCourseInstance     <{base_uri}{row['Course code']}> ;")
    triples.append(f"        :ExaminerOfCourseInstance     <{base_uri}{row['Examiner']}> .")
    triples.append("")  # blank line

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :1204_I-1 rdf:type                :CourseInstance ;
          :assistantHours          "300"^^xsd:double ;
          :academicYear          "2013-2014" ;
          :instanceId          "I-1" ;
          :seniorHours          "280"^^xsd:double ;
          :planningNumStudent          "50"^^xsd:

# Registration

In [8]:
import pandas as pd
df           = pd.read_csv("./data/Registrations.csv")
df_instances = pd.read_csv("./data/Course_Instances.csv")


merged = df.merge(
    df_instances[['Instance_id', 'Course_code']],
    left_on='Course Instance',
    right_on='Instance_id',
    how='left'
)

merged = merged.drop(columns=['Instance_id']) # dup
print(merged.head())
merged.to_csv("./output/registration.csv", index=False)

  Course Instance     Student id     Status  Grade  Course_code
0          I-1494  19860309-0002  completed    3.0         1127
1          I-3997  19860309-0002  completed    4.0         1122
2           I-658  19860309-0002  completed    3.0         1263
3          I-1499  19860309-0002  completed    4.0         1040
4          I-1496  19860309-0002  completed    4.0         1271

In [ ]:
import pandas as pd
import requests
df = merged

triples = []


for _, row in df.iterrows():
    i_code = f"{row['Course Instance']}".replace(" ", "_")
    s_code = f"{row['Student id']}".replace(" ", "_")
    subj = f":{i_code}_{s_code}"

    c_code = f"{row['Course code']}".replace(" ", "_")
    course_instance_object = f"{c_code}_{i_code}"


    # subject
    triples.append(f"{subj} rdf:type                :Registration ;")

    # Attributes
    triples.append(f"        :status          \"{row['Status']}\" ;")
    triples.append(f"        :grade          \"{row['Grade']}\"^^xsd:integer ;")

    # "Relations"
    triples.append(f"        :RegistrationHasCourse     <{base_uri}{course_instance_object}> ;")
    triples.append(f"        :RegistrationHasStudent     <{base_uri}{row['Student id']}> .")
    triples.append("")  # blank line

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :I-1494_19860309-0002 rdf:type                :Registration ;
          :status          "completed" ;
          :grade          "3.0"^^xsd:integer ;
          :RegistrationHasCourse     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1127_I-1494> ;
          :RegistrationHasStudent     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19860309-0002> .

  :I-3997_19860309-0002 rdf:type                :Registration ;
          :status          "completed" ;
          :grade          "4.0"^^xsd:integer ;
          :RegistrationHasCourse     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1122_I-3997> ;
          :RegistrationHasStudent     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19860309

# TeachHoursInCourseInstance

In [11]:
import pandas as pd
import numpy as np

df           = pd.read_csv("./data/Course_plannings.csv")
df_instances = pd.read_csv("./data/Reported_Hours.csv")

# Merge files
merged = df.merge(
    df_instances[['Course code', 'Teacher Id', 'Hours']],
    left_on='Course',
    right_on='Course code',
    how='left'
)

merged = merged.drop(columns=['Course code']) # dup

df = merged
senior_df = pd.read_csv("./data/Senior_Teachers.csv")  # has column: Teacher

seniors = set(senior_df["Teacher name"])

df["Assigned Hours"] = np.where(
    df["Teacher Id"].isin(seniors),       # if the Teacher is a seniorâ€¦
    df["Senior Hours"],                # if true take this
    df["Assistant Hours"]              # else
)

df = df.drop(columns=["Senior Hours", "Assistant Hours", "Planned number of Students"])

df_instances  = pd.read_csv("./data/Course_Instances.csv")
df = df.merge(
    df_instances[['Course_code', 'Instance_id']],
    left_on='Course',
    right_on='Instance_id',
    how='left'
)
df = df.drop(columns=["Instance_id"])

df.head()
df.to_csv("./output/teach_hours_in_course_instance.csv", index=False)

In [ ]:
import pandas as pd
import requests


triples = []

for _, row in df.iterrows():
    tid_code = f"{row['Teacher Id']}".replace(" ", "_")
    ci_code = f"{row['Course']}".replace(" ", "_")
    subj = f":{tid_code}_{ci_code}"

    c_code = f"{row['Course code']}".replace(" ", "_")
    course_instance_object = f"{c_code}_{ci_code}"


    # subject
    triples.append(f"{subj} rdf:type                :TeacherHoursInCourseInstance ;")

    # Attributes
    triples.append(f"        :assignedHours          \"{row['Assigned Hours']}\"^^xsd:double ;")
    triples.append(f"        :reportedHours          \"{row['Hours']}\"^^xsd:double ;")

    # "Relations"
    triples.append(f"        :TeacherHours     <{base_uri}{row['Teacher Id']}> ;")
    triples.append(f"        :CourseInstanceHours     <{base_uri}{course_instance_object}> .")
    triples.append("")  # blank line

Successfully inserted all data
PREFIX :   <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
INSERT DATA {
  :19620522-0023_I-1 rdf:type                :TeacherHoursInCourseInstance ;
          :assignedHours          "300"^^xsd:double ;
          :reportedHours          "227.0"^^xsd:double ;
          :TeacherHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19620522-0023> ;
          :CourseInstanceHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/1204_I-1> .

  :19790708-0041_I-1 rdf:type                :TeacherHoursInCourseInstance ;
          :assignedHours          "300"^^xsd:double ;
          :reportedHours          "115.0"^^xsd:double ;
          :TeacherHours     <http://www.semanticweb.org/user/ontologies/2025/3/untitled-ontology-3/19790708-0041> ;
          :CourseInstanceHours     <http://www.semanticweb.org/user/o

# TODO

- ProgrammeCourse (Done) (problem, our subject was not unique, added study year)
- Course (Switch courseInCourseInstance)
- CourseInstance (study period? missing)
- Registration (Done)
- TeacherHourseInCourseInstance